.date {
    background-color: #AAAAAA;
    font-family: helveltica;
    font-size: 1.1rem;
    border-radius: 2.5px;
    display: inline-block;
    float: center;
    color: #000000;
}
.about {
    display: inline-block;
    font-family: helvetica;
    font-size: 1.2rem;
    float: left;
    color: #000000;
}
h1 {
    font-size: 3rem;
    font-family: helvetica;
    border-bottom: 5px solid #000000;
    text-shadow: 3px 3px 0 #AAAAAA;
    color: #000000;
}
